.external-article {
    width: 220px;
    height: 250px;
    border-radius: 15px;
    margin-bottom: 25px;
    box-shadow: var(--cube-shadow);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.external-article:hover {
    animation: pop 0.3s;
}
.external-article img {
    object-fit: cover;
    height: 70%;
    width: 100%;
    overflow: hidden;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.external-p {
    height: 30%; width: 100%;
    color: white;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.external-p p {
    margin-left: 10px;
}
.article-box {
    width: 90%;
    height: 215px;
    margin: 0 auto;
    border-radius: 10px;
    border: 1px solid black;
    margin-bottom: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: var(--cube-shadow);
}
.article-box:hover {
    animation: pop 0.3s;
}
.article-box img {
    height: 200px;
    margin-left: 25px;
}
.article-info {
    width: 55%;
    margin-right: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: black;
}
.article-box-name {
    font-size: 32px;
    text-align: center;
    margin-bottom: 25px;
}
.article-meta {
    font-size: 18px;
}

/** Indiv articles */
.article-header {
    font-size: 44px;
    text-align: center;
    margin-bottom: 15px;
    color: rgb(54, 54, 54);
}
.article-body {
    font-size: 17px;
    line-height: 26px;
    margin-top: 25px;
}
.first-letter-article {
    font-size: 42px;
    font-family: 'Source Serif 4', sans-serif;
}

.activ-poke-tcg h3,
.activ-esports h3,
.activ-legos h3 {
    font-size: 26px;
}
.space-top {
    margin-top: 20px;
}
.tab {
    margin-left: 15px;
}
.tab p {
    font-size: 18px;
    margin-top: 5px;
}

@media screen and (max-width: 800px) {
    .article-box {
        align-items: center;
        margin-top: 15px;
    }
    .article-box:hover {
        animation: pop 0.3s;
    }
    .article-box img {
        height: 130px;
        margin: 0px 15px;
    }
    .article-info {
        width: 70%;
    }
    .article-box-name {
        font-size: 26px;
        text-align: start;
        margin-bottom: 15px;
    }
    .article-meta {
        font-size: 14px;
    }

    .external-article {
        display: none;
    }

    .article-header {
        font-size: 36px;
        margin: 15px 0px;
        text-align: center;
    }
    .article-body {
        margin: 25px 10px 0px 10px;
    }
}