.top-logo {
    position: absolute;
    top: 0;
    left: 12px;
    position: fixed;
    margin-top: -15px;
}
.top-logo img {
    width: 220px;
}

#right-nav-drop {
    width: 101%;
    height: 65px;
    display: none;
    background-color: rgb(46, 46, 46);
    justify-content: space-between;
    align-items: center;
    /* position: sticky; */
}
#right-nav-drop p {
    font-size: 28px;
    color: white;
}
#nav-collapse {
    font-size: 30px;
    transition: ease 1s linear;
    margin-right: 25px;
    color: white;
}
#dropdown-content {
    z-index: 1000;
    display: none;
    flex-direction: column;
    opacity: 0;
    position: absolute;
    top: 63px;
    height: 100%;
    width: 92.3%;
    padding: 30px 15px 15px 15px;
    background-color: rgba(255,255,255,0.85);
    backdrop-filter: blur(4px);
    box-shadow: 2px 2px 8px 3px rgba(0,0,0,0.3);
    transition: opacity 0.35s;
}
#dropdown-content hr {
    width: 40%;
    margin-bottom: 16.5px;
}
#home-hr {
    border: 0.5px solid grey;
}
#as-hr {
    border: 0.5px solid rgb(143, 0, 143);
}
#sc-hr {
    border: 0.5px solid rgb(0, 119, 255); 
}
#activ-hr {
    border: 0.5px solid red;  
}
#events-hr {
    border: 0.5px solid rgb(0, 160, 0);  
}
#blog-hr {
    border: 0.5px solid rgb(255, 102, 0);  
}
#staff-hr {
    border: 0.5px solid rgb(226, 185, 0);  
}

.add-to-trip {
    position: relative;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 10px 15px 10px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: transparent;
    width: 60%;
}
.add-to-trip:after {
    content: "";
    width: 103%;
    z-index: -1;
    position: absolute;
    height: 107%;
    top: 5px;
    left: 5px;
    border-radius: 10px;
    transition: ease 0.35s;
}
.add-to-trip:hover:after { 
  top: 0px;
  left: 0px;
  background-color: black;
}
.trip-apply:after {
    background-color: rgb(0, 162, 255);
}
.trip-visit:after {
    background-color: rgb(143, 0, 143);
}
.trip-procare:after {
    background-color: orange;
}
#dropdown-content a {
    color: #000;
    font-size: 28px;
    margin-bottom: 16.5px;
}
#sign-n-cart {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}
#item-shop-label {
    font-family: 'Orbitron', sans-serif;
    margin-left: 25px;
}

.main-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 110px;
    font-family: 'Roboto', sans-serif;
    z-index: 100;
    position: sticky;
    top: 0;
    margin-top: 10px;
}
.nav-tile {
    padding: 0px 45px;
    height: 100%;
    width: 50px;
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    border-bottom: 1px solid grey;
    transition: ease-in-out 0.12s;
    box-shadow: 3px 5px 10px rgba(0,0,0,0.4);
}
.nav-tile i {
    margin-top: 20px;
    font-size: 22px;
    color: rgb(83, 83, 83);
    height: 50%;
}
/* ACTIVE TAB */
.active-tile,
.active-tile i {
    color: white;
}
.active-home {background-color: grey;}
.active-afterschool {background-color: rgb(143, 0, 143)}
.active-summercamp{background-color: rgb(0, 119, 255);}
.active-activities{background-color: red;}
.active-events{background-color: rgb(0, 160, 0);}
.active-blog{background-color: rgb(255, 102, 0);}
.active-staff{background-color: rgb(226, 185, 0);}
.nav-tile p {
    font-size: 18px;
    height: 50%;
    margin-top: -10px;
}
.nav-tile:hover p,
.nav-tile:hover i {
    color: white;
}
.nav-color {
    height: 8px;
    width: 140px;
}
.grey{background-color:grey;}
.purple{background-color:rgb(143, 0, 143);}
.blue{background-color:rgb(0, 119, 255);}
.red{background-color:red;}
.green{background-color:rgb(0, 160, 0);}
.yellow{background-color:rgb(226, 185, 0);}
.orange{background-color:rgb(255, 102, 0);}
.left-nav-tile {
    border-bottom-left-radius: 15px;
    border-left: 1px solid grey;
}
.right-nav-tile {
    border-bottom-right-radius: 15px;
    border-right: 1px solid grey;
}
.grey-tile:hover{background-color: grey;}
.purple-tile:hover{background-color: rgb(143, 0, 143);}
.blue-tile:hover{background-color: rgb(0, 119, 255);}
.red-tile:hover{background-color: red;}
.green-tile:hover{background-color: rgb(0, 160, 0);}
.yellow-tile:hover{background-color: rgb(226, 185, 0);}
.orange-tile:hover{background-color: rgb(255, 102, 0);}

/* @media screen and (min-width: 1980px) {
    .nav-tile {
        width: 80px;
}
@media screen and (min-width: 1600px) {
    .nav-tile {
        width: 90px;
} */
@media screen and (max-width: 1300px) {
    .top-logo img {
        width: 180px;
    }
    .nav-color {
        width: 120px;
    }
    .nav-tile {
        padding: 0px 45px;
        width: 30px;
    }
}
@media screen and (max-width: 800px) {
    .top-logo {
        display: none;
    }
    .main-nav {
        display: none;
    }
    #right-nav-drop {
        display: flex;
    }
}