.top-info-nav {
    height: 75px;
    width: 64.3%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
.top-panel {
    height: 100%;
    width: 33.33%;
    margin: 5px 3px;
}
.left-panel {
    background-image: url(../assets/robot.jpeg);
    background-size: cover;
    background-position: center;
}
.center-panel {
    background-image: url(../assets/logo_lego.jpg);
    background-size: cover;
    background-position: center;
}
.right-panel {
    background-image: url(../assets/maxresdefault.jpg);
    background-size: cover;    background-position: center;
}

@media screen and (max-width: 1300px) {
    .top-info-nav {
        height: 65px;
        width: 67%;
    }
}