* {
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
}
:root {
    --cube-shadow: 10px 10px 20px rgba(0,0,0,0.6);
    --cube-hover: 5px 5px 12px rgba(0,0,0,0.75);
}
body {
    background: linear-gradient(to bottom, white, grey);
    background-size: cover;
    font-family: 'Roboto', sans-serif;
    z-index: 100;
}
main {
    width: 65%;
    margin: 0 auto;padding:20px;
    padding-top: 225px;
    margin-top: -200px;
    background-color: white;
    overflow: hidden;
}
.top-main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 25px;
}
.cube {
    box-shadow: var(--cube-shadow);
    transition: ease-in-out 0.2s;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cube img {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.cube:hover {
    /* box-shadow: var(--cube-hover); */
    animation: pop 0.3s;
}
@keyframes pop {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.99);
    }
}
.cube-text {
    height: 40%; width: 100%;
    color: white;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.cube-text h1,h2{text-align: center;}
.cube-text p {align-items: start;margin: 0px 10px;}
.activity-cube img {
    width: 340px; height: 230px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
.activity-desc {
    font-size: 20px;
    text-align: start;
    margin-left: -50px;
}
#biggest-cube {
    width: 520px;height:400px;
    border-radius: 10px;
}
.yeppers {
    background-color: rgb(61, 61, 61);
}
.just-text {
    background-color: rgb(255, 215, 215);
}
.just-text p {
    margin: 0px auto;
    word-wrap: break-word;
    text-align: start;
}
#biggest-cube img {
    object-fit: cover;
    width: 100%;
    overflow: hidden;
}
#biggest-cube h1 {
    font-weight: 400;
    margin: -15px 0px 15px;
}
#biggest-cube p {
    font-size: 17px;
    margin: 0px 15px;
}
.both-docs {
    display: flex;
    justify-content: space-around;
}
#side-cubes {
    display: flex;
    flex-direction: column;
}
.side-main-cube {
    width: 400px;height: 190px;
    border-radius: 10px;
    margin: 10px;
}
.side-main-cube img {
    object-fit: cover;
    width: 100%;
    overflow: hidden;
}
.side-main-cube h2 {
    font-weight: 400;
}
.cube-blue {
    background-color: rgb(0, 119, 255);
}
.cube-purple {
    background-color: rgb(143, 0, 143);
}
.cube-green {
    background-color: rgb(0, 160, 0);
}
.cube-yellow {
    background-color: rgb(226, 185, 0);
}
.cube-orange {
    background-color: rgb(255, 102, 0);
}
.cube-red {
    background-color: red;
}
#under-main-cubes {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: 25px;
}
.small-cube {
    width: 300px;height: 225px;
    border-radius: 10px;
}
.small-cube img {
    object-fit: cover;
    width: 100%;
    overflow: hidden;
}
#p1 {font-size: 20px;}
#p2 {font-size: 20px;}
#p3 {font-size: 17.2px;}
#p4 {font-size: 17.5px;}

/* @media screen and (max-width: 1300px) {
    main {
        width: 62%;
    }
} */

.info-cubes {
    width: 300px;
    box-shadow: var(--cube-shadow);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px; 
    border-top-right-radius: 10px; 
    padding-bottom: 10px;
}
.left-info-cubes {
    width: 65%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.link-cubes {
    width: 600px;
    border-radius: 10px;
    font-size: 28px;
    padding: 5px;
    color: white;
    text-align: center;
    box-shadow: var(--cube-shadow);
}
.small-infos {
    margin-bottom: 35px;
}
.top-of-cube {
    font-size: 28px;
    color: white;
    border-top-left-radius: 10px; 
    border-top-right-radius: 10px; 
}
.top-of-cube p {
    margin-left: 15px;
    padding: 5px;
}
.bottom-of-cube {
}
.bottom-of-cube p {
    font-size: 18px;
    margin: 0px 15px;
    margin-top: 10px;
}
.needed-wide {
    line-height: 26px;
}
.common-questions {
    width: 96.5%;
    margin-top: 25px;
    box-shadow: var(--cube-shadow);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px; 
    border-top-right-radius: 10px; 
    padding-bottom: 10px;
}
.bold-question {
    font-weight: bold;
}
.answer {
    padding-bottom: 15px;
}

@media screen and (max-width: 800px) {
    body {
        background: linear-gradient(to bottom, white, white);
    }
    main {
        width: 100%;
        padding: 0px;
        margin-top: 0px;
    }
    .top-main {
        width: 100%;
        flex-direction: column;
        align-items: center;
        margin-top: 15px;
        margin-bottom: 0px;
        margin-left: 20px;
        /* DELETE */
    }
    .under-main-cubes {
        margin-left: 20px;
    }
    .cube {
        margin-bottom: 10px;
        box-shadow: none;
    }
    #biggest-cube {
        width: 94%;height:300px;
    }
    #biggest-cube h1 {
        font-size: 26px;
        margin: 25px 0px 10px;
    }
    #biggest-cube p {
        font-size: 15px;
        margin: 0px 15px 25px;
    }
    #side-cubes {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .side-main-cube {
        width: 94%;height: 190px;
        border-radius: 10px;
        margin: 0px;
        margin-bottom: 10px;
    }
    #under-main-cubes {
        margin-top: 10px;
        flex-direction: column;
    }
    .small-cube {
        width: 94%;height: 225px;
    }
}
.coming-soon-center {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 100vh;
}
.huge-coming-soon {
    font-size: 42px;
    margin-left: 35px;
}