* {
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
}
body {
    /* background: url(./assets/white-bg2.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; */
    background: linear-gradient(to bottom, white, grey);
    background-size: cover;
    font-family: 'Roboto', sans-serif;
}
main {
    height: 100vh;
    width: 65%;
    margin: 0 auto;padding:20px;
    padding-top: 225px;
    margin-top: -200px;
    background-color: white;
}
#top-main {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#biggest-cube {
    width: 500px;height:385px;
    background-color: rgb(49, 49, 49);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
#main-img {
    background: url(./assets/kids-switch.jpg) no-repeat cover;
    background-size: cover;
}
#biggest-cube h1 {
    height: 40%;
    background-color: rgb(49,49,49);
    color: white;
    font-weight: 400;
}
#side-cubes {
    display: flex;
    flex-direction: column;
}
.side-main-cube {
    width: 340px;height: 185px;
    border-radius: 10px;
    margin: 10px;    
}
.top-side-cube {
    background-color: orange;
}
.bottom-side-cube {
    background-color: green;
}
#under-main-cubes {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 25px;
}
.small-cube {
    width: 275px;height: 225px;
    background-color: purple;
    border-radius: 10px;
}